@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

$primary: hsl(233, 47%, 7%);
$card_bg: hsl(244, 38%, 16%);
$secondary: hsl(277, 64%, 61%);
$heading_stat: hsl(0, 0%, 100%);
$main_para: hsla(0, 0%, 100%, 0.75);
$stat_heading: hsla(0, 0%, 100%, 0.6);

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $heading_stat;
}

.container {
  height: 300vh;
  display: grid;
  grid-template-areas:
  "sidebar"
  "content"
  "about"
  "projects"
  "contact"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 40px repeat(4,1fr) 40px;
  font-size: 32px;
}

nav {
  grid-area: sidebar;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: $primary;
  color: $heading_stat;

  header {
    font-size: 15px;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    li {
      opacity: 0.7;
      font-size: 12px;
      &:hover {
        opacity: 1;
      }
    }
  }
}

section.hero {
  grid-area:content;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background: $primary;
  //opacity: 0.95;
  color: $main_para;
  width: 100%;

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    margin: 10px 0 10px 0;

    img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .hero-content {
    padding: 12px;
    text-align: center;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
*/
    h1 {
      font-weight: 700;
      opacity: 1;
      color: $secondary;
      letter-spacing: 2px;
      margin: 10px auto 20px auto;
      font-size: 25px;
    }

    p {
      font-weight: 300;
      letter-spacing: 2px;
      margin: 10px auto 20px auto;
      width: 70%;
      font-size: 18px;
    }

    a {
      background: $secondary;
      padding: 15px 30px;
      border-radius: 100px;
      font-size: 18px;
      //width: 200px;
      color: white;
      //opacity: 1;
      z-index: 5;
      margin-bottom: 20px;
    }
  }
}

section.about {
  grid-area: about;
  //padding: 16px;
  background: $primary;
  color: white;
  text-align: center;
  //opacity: 0.95;
  
  h1 {
    color: $secondary;
    font-size: 24px;
    margin: 10px 0 0 0;
  }
  
  p {
    width: 70%;
    margin: 40px auto 40px auto;
    text-align: center;
    font-size: 19px;
    color: $main_para;
    
    span {
      text-decoration: underline;
      color: $secondary;
    }
  }
  
  .skills {
    margin: 10px auto 50px auto;
    width: 100%;

    h3 {
      text-align: center;
      font-size: 28px;
      color: $secondary;
    }
    
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 80%;
      margin: 10px auto 10px 0;
      background: $primary;
      li {
        font-size: 14px;
        margin: 3px;
        color: white;
        background: $secondary;
        padding: 10px 20px;
        border-radius: 30px;
      }
    }
  }
}

section.projects {
  grid-area: projects;
  width: 100%;
  text-align: center;
  background: $primary;
  //opacity: 0.95;
 // color: $heading_stat;
  
  h1 {
    margin: 20px auto 15px auto;
    font-size: 24px;
    color: $secondary;
  }
  
  .project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    //gap: 1px;
    
    .project-card {
      text-align: center;
     // width: 90%;
      height: 190px;
      background: $card_bg;
      border-radius: 8px;
      margin: 20px auto 20px auto;
      
      h1 {
        font-size: 18px;
      }
      
      p {
        font-size: 14px;
        color: $main_para;
        width: 80%;
        margin: 0 auto 5px auto;
        font-weight: 500;
      }
      
      .tech-list {
        list-style: none;
        font-size: 12px;
        display: flex;
        //flex-direction: row;
        color: $heading_stat;
        width: 50%;
        //flex-wrap: wrap;
        //justify-content: center;
        //align-items: center;
        margin: 2px auto 0 auto;
        text-align: center;
        li {
          text-transform: uppercase;
          text-align: center;
          color: white;
          //margin-left: 5px;
          padding: 8px;
          font-weight: 500;
        }
      }
      
      .links {
        //margin-top: -10px;
        a {
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          margin: 0 20px 20px 20px;
        }
      }
    }
  }
}

section.contact {
  grid-area: contact;
  background: $primary;
  padding: 0 10px 0 10px;
  h1 {
    text-align: center;
    color: $secondary;
    font-size: 24px;
  }
  ul {
    color: $main_para;
    li {
      font-size: 18px;
      span {
        color: $secondary;
      }
    }
  }
}

footer {
  grid-area: footer;
  background: $primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  //width: 100%;
  
  .header {
    color: white;
    font-size: 15px;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    li {
      font-size: 12px;
      margin: 10px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 780px) {

  .hero-content {
    h1 {
      font-size: 25px;
    }

    p,a {
      font-size: 20px;
    }
  }

  .container {
    grid-template-areas:
    "sidebar content"
    "sidebar about"
    "sidebar projects"
    "sidebar contact"
    "footer footer";
    grid-template-columns: 120px 1fr;
    grid-template-rows: repeat(3,1fr) 200px 70px;

    nav {
      position: relative;
      top: 0;
      display: block;
      text-align: center;

      header {
        position: relative;
        margin-bottom: 100px;
        font-size: 24px;
      }

      ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 250px;

        li {
          font-size: 17px;
        }
      }
    }
    
    footer {
      justify-content: space-between;
      align-items: center;
      
      .header {
        font-size: 18px;
      }
      
      ul {
        justify-content: space-evenly;
        //width: 60%;

        li {
          font-size: 16px;
        }
      }
    }
  }
  
  .project-card {
    position: relative;
    width: 250px;
  }
}