@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

$primary: #161925; //hsl(233, 47%, 7%);
$card_bg: #23395B;//hsl(244, 38%, 16%);
$secondary: #406E8E;//hsl(277, 64%, 61%);
$heading_stat: #CBF7ED;//hsl(0, 0%, 100%);
$main_para: #8EA8C3;//hsla(0, 0%, 100%, 0.75);
$stat_heading: #f5cebe;//hsla(0, 0%, 100%, 0.6);
$dark: #000000;

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  //background-attachment: fixed;
  background-size: cover;
}

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "sidebar"
  "home"
  "about"
  "skills"
  "projects"
  "contact"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 30px repeat(2,minmax(20rem,40rem)) 40rem 100rem 1fr 50px;
  font-size: 2rem;
  grid-gap: 5rem;
}

nav {
  position: relative;
  grid-area: sidebar;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 30px;
  background: $primary;

  header {
    font-size: 1.1rem;
    color: white;
  }

  .burger-menu {
    width: 30px;
    height: 40px;
    background: none;

    .burger-icons {
      display: block;
      position: relative;
      width: 100%;

      .middle {
        //visibility: hidden;
        width: 100%;
        background: transparent;
        height: 80%;
        color: transparent;
      }

      &:after,
      &:before {
        content: "";
        position: absolute;
        //width: 100%;
        height: 2px;
        background: white;
      }

      &:before {
        top: 0;
        right: 0;
        width: 50%;
        margin-top: 10px;
      }

      &:after {
        top: 70%;
        right: 0;
        width: 90%;
        margin-bottom: 10px;
      }
    }
  }

  ul {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    li {
      font-size: 0.9rem;
      font-weight: 700;
    }
  }
}

.hero {
  //position: relative;
  grid-area: home;
  //height: 100vh;
  padding: 1.5rem;
  margin: 0 auto;

  h1 {
    font-weight: 700;
    color: white;
    letter-spacing: 0.2rem;
    margin-top: 0;
    font-size: 2rem;
  }

  span {
    font-size: 1.5rem;
    color: $secondary;
    font-weight: 700;
  }

  p {
    font-weight: 500;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    text-align: left;
    color: #d2d2d2;
    margin-top: -1rem;
  }

  .div {
    margin-top: 6rem;
    text-align: center;
    a {
      border: none;
      outline: none;
      font-size: 1rem;
      color: white;
      z-index: 5;
      text-decoration: underline;
    }
  }
}

.about {
  grid-area: about;
  //position: relative;
  color: white;
  padding: 16px;
  //height: 100vh;

  h1 {
    color: white;
    font-size: 2rem;
    text-align: left;
  }

  p {
    font-weight: 500;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: #d2d2d2;

    span {
      text-decoration: underline;
      color: $secondary;
    }
  }
}

.skills {
  grid-area: skills;
  padding: 16px;
  padding-top: 0;
  text-align: left;

  h1 {
    font-size: 2rem;
    color: white;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    
    li {
      font-size: 4rem;
      color: #d2d2d2;
      padding: 10px;
    }
  }
}

.projects {
  grid-area: projects;
  width: 100%;

  h1 {
    font-size: 2rem;
    color: white;
    margin: 5rem auto;
    padding-left: 16px;
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    //gap: 1px;
    gap: 2rem;

    .project-card {
      text-align: center;
      width: 20rem;
      max-width: 28rem;
      background: $primary;
      height: 20rem;
      border-radius: 8px;
      //margin: 20px auto 20px auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
      h1 {
        font-size: 1.3rem;
        margin: 0 auto;
      }

      p {
        font-size: 14px;
        color: #d2d2d2;
        width: 80%;
        margin: 0 auto 5px auto;
        font-weight: 500;
      }

      .tech-list {
        list-style: none;
        font-size: 12px;
        display: flex;
        color: $heading_stat;
        width: 50%;
        margin: 2px auto 0 auto;
        text-align: center;
        li {
          text-transform: uppercase;
          text-align: center;
          color: white;
          padding: 8px;
          font-weight: 500;
          font-size: 18px;
        }
      }

      .links {
        //margin-top: -10px;
        a {
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          margin: 0 5px 5px 5px;
        }
      }
    }
  }
}

.contact {
  grid-area: contact;

  h1 {
    text-align: left;
    color: white;
    font-size: 2rem;
    padding-left: 16px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main_para;
    padding: 0;
  }
  li {
    color: $dark;
    font-size: 1.3rem;
  }

  .contact-form {
    background: $dark;
    color: white;
    padding: 15px;
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
    max-width: 650px;
  }

  .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .group-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  label {
    font-size: 1.2rem;
    margin-top: 0.4rem;
  }

  input[type="text"], input[type="email"] {
    color: white;
    background: $primary;
    border: none;
    outline: none;
    height: 30px;
    padding: 5px;
    font-size: 1rem;
    max-width: 1110px;
    width: 100%;
  }

  .group-inputs.comment {
    width: 100%;
  }

  #comment {
    background: $primary;
    outline: none;
    border: none;
    color: white;
    font-size: 0.8rem;
    max-width: 1110px;
    width: 100%;
    height: 100px;
  }

  #submit {
    padding: 1rem 2rem;
    background: darkred;
    color: white;
    outline: none;
    border: none;
    align-self: flex-end;
    font-weight: 500;
  }
}

.footer {
  position: relative;
  grid-area:footer;
  background: $primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  height: 50px;

  .header {
    color: white;
    font-size: 1rem;
    color: white;
    position: relative;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    li {
      font-size: 0.6rem;
      margin: 10px;
      a {
        i {
          color: white;
        }
      }
    }
  }
}

.hidden-nav-pages {
  position: fixed;
  z-index: 28733;
  width: 100vw;
  height: 100vh;
  background: $dark;
  //display: none;

  .close {
    font-size: 3rem;
    color: white;
    margin-right: 20px;
    text-align: right;
    z-index: 83847474;
  }

  ul {
    width: 80%;
    height: 70%;
    padding: 0;
    text-align: center;
    margin: 0 auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    li, a {
      font-size: 1.5rem;
      color: white;
    }
  }
}

.hidden {
  display: none;
}

// DESKTOP RESPONSIVE Layout
@media only screen and (min-width: 720px) {
  .container {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "sidebar"
    "home"
    "about"
    "skills"
    "projects"
    "contact"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(2,minmax(20rem,40rem)) 40rem minmax(40rem,50rem) 1fr 50px;
    font-size: 2rem;
    grid-gap: 5rem;
    margin: 0 auto;
    max-width: 1110px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
  //max-width: 1110px;
    margin: 0 auto;
  //margin-bottom: 4rem;
    
    .pages {
      display: flex;
    }
    
    .burger-menu {
      display: none;
    }
  }

  .hidden-nav-pages{
    display: none;
  }
  
  .hero {
    h1 {
      margin: 5rem auto;
    }
    p {
      margin: 0 auto;
    }
    h1, p {
      max-width: 80%;
    }
  }
  
  .about {
    h1 {
      margin: 5rem auto;
    }
    p {
      margin: 0 auto;
    }
    h1, p {
      max-width: 80%;
    }
  }
  
  .skills {
    h1, ul {
      max-width: 80%;
    }
    h1 {
      margin: 5rem auto;
    }
    ul {
      margin: 0 auto;
    }
  }
  
  .projects {
    h1 {
      margin: 5rem auto;
    }
    .project-list {
      margin: 0 auto;
    }
    h1, .project-list {
      max-width: 80%;
    }
  }
  
  .contact {
    h1 {
      margin: 5rem auto;
    }
    form {
      margin: 0 auto;
    }
    h1, form {
      max-width: 80%;
    }
  }
  
  .footer {
    justify-content: space-between;
    width: 100%;
  }
}