@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #CBF7ED;
}

.container {
  height: 550vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "sidebar" "content" "about" "skills" "projects" "contact" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50px (1fr)[4] 670px 50px;
      grid-template-rows: 50px repeat(4, 1fr) 670px 50px;
  font-size: 2rem;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

nav header {
  font-size: 0.9rem;
  color: white;
}

nav .burger-menu {
  width: 30px;
  height: 40px;
  background: none;
}

nav .burger-menu .burger-icons {
  display: block;
  position: relative;
  width: 100%;
}

nav .burger-menu .burger-icons .middle {
  width: 100%;
  background: transparent;
  height: 80%;
  color: transparent;
}

nav .burger-menu .burger-icons:after, nav .burger-menu .burger-icons:before {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
}

nav .burger-menu .burger-icons:before {
  top: 0;
  right: 0;
  width: 50%;
  margin-top: 10px;
}

nav .burger-menu .burger-icons:after {
  top: 70%;
  right: 0;
  width: 90%;
  margin-bottom: 10px;
}

nav ul {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

nav ul li {
  opacity: 0.7;
  font-size: 0.7rem;
}

nav ul li:hover {
  opacity: 1;
}

section.hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  color: #8EA8C3;
  width: 100%;
  padding-top: 10px;
}

section.hero .avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  margin: 10px 0 10px 0;
}

section.hero .avatar img {
  position: relative;
  width: 100%;
  height: 100%;
}

section.hero .hero-content {
  padding: 16px;
}

section.hero .hero-content h1 {
  text-align: left;
  font-weight: 700;
  opacity: 1;
  color: white;
  letter-spacing: 2px;
  margin: 100px auto 20px auto;
  font-size: 2rem;
}

section.hero .hero-content span {
  font-size: 1.5rem;
}

section.hero .hero-content p {
  font-weight: 300;
  letter-spacing: 2px;
  margin: 10px auto 60px auto;
  width: 70%;
  font-size: 1.6rem;
  text-align: left;
}

section.hero .hero-content a {
  background: #000000;
  padding: 0.9rem 2.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  font-size: 1rem;
  color: white;
  z-index: 5;
}

section.about {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about;
  color: white;
  text-align: left;
  padding: 16px;
}

section.about h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

section.about p {
  margin: 0 auto 0 auto;
  padding-top: 30px;
  width: 70%;
  font-size: 1.6rem;
  color: #8EA8C3;
  font-weight: 300;
}

section.about p span {
  text-decoration: underline;
  color: #406E8E;
}

section.skills {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: skills;
  padding: 16px;
  padding-top: 0;
  text-align: left;
}

section.skills h1 {
  font-size: 2rem;
  color: white;
}

section.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: 0 auto 10px 0;
}

section.skills ul li {
  font-size: 4rem;
  margin: 3px;
  color: #000000;
  padding: 10px 20px;
  border-radius: 30px;
}

section.projects {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: projects;
  width: 100%;
}

section.projects h1 {
  font-size: 2rem;
  color: white;
  text-align: left;
  padding-left: 16px;
}

section.projects .project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.projects .project-list .project-card {
  text-align: center;
  width: 20rem;
  max-width: 28rem;
  background: #000000;
  height: 20rem;
  border-radius: 8px;
  margin: 20px auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.projects .project-list .project-card h1 {
  font-size: 1.3rem;
  text-align: center;
}

section.projects .project-list .project-card p {
  font-size: 14px;
  color: #8EA8C3;
  width: 80%;
  margin: 0 auto 5px auto;
  font-weight: 500;
}

section.projects .project-list .project-card .tech-list {
  list-style: none;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #CBF7ED;
  width: 50%;
  margin: 2px auto 0 auto;
  text-align: center;
}

section.projects .project-list .project-card .tech-list li {
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 8px;
  font-weight: 500;
  font-size: 18px;
}

section.projects .project-list .project-card .links a {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 5px 5px 5px;
}

section.contact {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: contact;
  position: relative;
}

section.contact h1 {
  text-align: left;
  color: white;
  font-size: 2rem;
  padding-left: 16px;
}

section.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8EA8C3;
  padding: 0;
}

section.contact li {
  color: #000000;
  font-size: 1.3rem;
}

section.contact .contact-form {
  background: #000000;
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  width: 90%;
  margin: 0 auto;
  max-width: 650px;
}

section.contact .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.contact .group-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
}

section.contact label {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

section.contact input[type="text"], section.contact input[type="email"] {
  color: white;
  background: #161925;
  border: none;
  outline: none;
  height: 30px;
  padding: 5px;
  font-size: 1rem;
  max-width: 1110px;
  width: 100%;
}

section.contact .group-inputs.comment {
  width: 100%;
}

section.contact #comment {
  background: #161925;
  outline: none;
  border: none;
  color: white;
  font-size: 0.8rem;
  max-width: 1110px;
  width: 100%;
  height: 100px;
}

section.contact #submit {
  padding: 1rem 2rem;
  background: darkred;
  color: white;
  outline: none;
  border: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 0 20px;
}

footer .header {
  color: white;
  font-size: 1rem;
  color: white;
  position: relative;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li {
  font-size: 0.6rem;
  margin: 10px;
}

footer ul li:hover {
  opacity: 1;
}

footer ul li a i {
  color: #000000;
}

.hidden-nav-pages {
  position: fixed;
  z-index: 28733;
  width: 100vw;
  height: 100vh;
  background: #000000;
}

.hidden-nav-pages .close {
  font-size: 3rem;
  color: white;
  margin-right: 20px;
  text-align: right;
  z-index: 83847474;
}

.hidden-nav-pages ul {
  width: 80%;
  height: 70%;
  padding: 0;
  text-align: center;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hidden-nav-pages ul li, .hidden-nav-pages ul a {
  font-size: 1.5rem;
  color: white;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 720px) {
  .hero-content h1 {
    font-size: 25px;
  }
  .hero-content p, .hero-content a {
    font-size: 20px;
  }
  .container {
        grid-template-areas: "sidebar" "content"  "about"  "skills"  "projects"  "contact"  "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 120px (1fr)[3] 1fr 1fr 120px;
        grid-template-rows: 120px repeat(3, 1fr) 1fr 1fr 120px;
    height: 430vh;
  }
  .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }
  .container nav header {
    position: relative;
    font-size: 1.2rem;
  }
  .container nav .burger-menu {
    display: none;
  }
  .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container nav ul li {
    font-size: 17px;
  }
  .container section.hero {
    padding: 0;
  }
  .container section.hero .hero-content {
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container section.hero h1 {
    margin-top: 4rem;
    font-size: 5rem;
  }
  .container section.hero p {
    width: 50%;
  }
  .container section.about {
    text-align: center;
  }
  .container section.about h1 {
    margin-top: 2rem;
    font-size: 5rem;
  }
  .container section.about p {
    margin-top: 5rem;
    width: 50%;
  }
  .container section.skills {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: skills;
    text-align: center;
  }
  .container section.skills h1 {
    font-size: 5rem;
    color: white;
  }
  .container section.skills ul {
    width: 50%;
    margin: 0 auto;
  }
  .container section.projects h1 {
    font-size: 5rem;
    text-align: center;
  }
  .container section.projects .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
  }
  .container section.contact h1 {
    font-size: 5rem;
    text-align: center;
  }
  .container footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px 0 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .container footer .header {
    font-size: 18px;
  }
  .container footer ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container footer ul li {
    font-size: 16px;
  }
  .project-card {
    position: relative;
    width: 250px;
  }
  .contact ul {
    gap: 20px;
  }
}
/*# sourceMappingURL=index.css.map */