@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  height: 300vh;
  display: grid;
  grid-template-areas: "sidebar" "content" "about" "projects" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 1fr 1fr 40px;
  font-size: 32px;
}

nav {
  grid-area: sidebar;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: #090b1a;
  color: white;
}
nav header {
  font-size: 15px;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
nav ul li {
  opacity: 0.7;
  font-size: 12px;
}
nav ul li:hover {
  opacity: 1;
}

section.hero {
  grid-area: content;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background: #090b1a;
  opacity: 0.95;
  color: rgba(255, 255, 255, 0.75);
  width: 100%;
}
section.hero .avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  margin: 10px 0 10px 0;
}
section.hero .avatar img {
  position: relative;
  width: 100%;
  height: 100%;
}
section.hero .hero-content {
  padding: 12px;
  text-align: center;
  margin: 0 auto;
  /* display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  */
}
section.hero .hero-content h1 {
  font-weight: 700;
  opacity: 1;
  color: #aa5cdb;
  letter-spacing: 2px;
  margin: 10px auto 20px auto;
  font-size: 25px;
}
section.hero .hero-content p {
  font-weight: 300;
  letter-spacing: 2px;
  margin: 10px auto 20px auto;
  width: 70%;
  font-size: 18px;
}
section.hero .hero-content a {
  background: #aa5cdb;
  padding: 15px 30px;
  border-radius: 100px;
  font-size: 18px;
  color: white;
  z-index: 5;
  margin-bottom: 20px;
}

section.about {
  grid-area: about;
  background: #090b1a;
  color: white;
  text-align: center;
  opacity: 0.95;
}
section.about h1 {
  color: #aa5cdb;
  font-size: 30px;
  margin: 50px 0 0 0;
}
section.about p {
  width: 70%;
  margin: 40px auto 40px auto;
  text-align: center;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.75);
}
section.about .skills {
  margin: 100px auto 50px auto;
  width: 100%;
}
section.about .skills h3 {
  text-align: center;
  font-size: 28px;
  color: #aa5cdb;
}
section.about .skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 10px auto 10px 0;
  background: #090b1a;
}
section.about .skills ul li {
  font-size: 14px;
  margin: 3px;
  color: white;
  background: #aa5cdb;
  padding: 10px 20px;
  border-radius: 30px;
}

section.projects {
  grid-area: projects;
  width: 100%;
  text-align: center;
  background: #090b1a;
  opacity: 0.95;
}
section.projects h1 {
  margin: 20px auto 15px auto;
  font-size: 24px;
  color: #aa5cdb;
}
section.projects .project-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
section.projects .project-list .project-card {
  text-align: center;
  height: 180px;
  background: #1b1938;
  border-radius: 8px;
  margin: 20px auto 20px auto;
}
section.projects .project-list .project-card h1 {
  font-size: 18px;
}
section.projects .project-list .project-card p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
  width: 80%;
  margin: 0 auto 5px auto;
  font-weight: 500;
}
section.projects .project-list .project-card .tech-list {
  list-style: none;
  font-size: 12px;
  display: flex;
  color: white;
  width: 50%;
  margin: 20px auto 0 auto;
  text-align: center;
}
section.projects .project-list .project-card .tech-list li {
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 8px;
  font-weight: 300;
}
section.projects .project-list .project-card .links a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 20px 0 20px;
}
section.projects .project-list .project-card .links span {
  position: relative;
  width: 100%;
  border-radius: 6px;
  height: 100%;
  background: white;
}

footer {
  grid-area: footer;
  background: #090b1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer .header {
  color: white;
  font-size: 15px;
}
footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer ul li {
  font-size: 12px;
  margin: 10px;
  opacity: 0.6;
}
footer ul li:hover {
  opacity: 1;
}

@media only screen and (min-width: 780px) {
  .hero-content h1 {
    font-size: 25px;
  }
  .hero-content p, .hero-content a {
    font-size: 20px;
  }

  .container {
    grid-template-areas: "sidebar content" "sidebar about" "sidebar projects" "sidebar footer";
    grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr 1fr 1fr 40px;
  }
  .container nav {
    position: relative;
    top: 0;
    display: block;
    text-align: center;
  }
  .container nav header {
    position: relative;
    margin-bottom: 100px;
    font-size: 24px;
  }
  .container nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
  }
  .container nav ul li {
    font-size: 17px;
  }
  .container footer {
    justify-content: space-between;
    align-items: center;
  }
  .container footer .header {
    font-size: 18px;
  }
  .container footer ul {
    justify-content: space-evenly;
  }
  .container footer ul li {
    font-size: 16px;
  }

  .project-card {
    position: relative;
    width: 250px;
  }
}

/*# sourceMappingURL=index.css.map */
