@media only screen and (min-width: 720px) {
  .hero-content h1 {
    font-size: 25px;
  }
  .hero-content p, .hero-content a {
    font-size: 20px;
  }
  .container {
        grid-template-areas: "sidebar" "content"  "about"  "skills"  "projects"  "contact"  "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 120px (1fr)[3] 1fr 1fr 120px;
        grid-template-rows: 120px repeat(3, 1fr) 1fr 1fr 120px;
    height: 430vh;
  }
  .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }
  .container nav header {
    position: relative;
    font-size: 1.2rem;
  }
  .container nav .burger-menu {
    display: none;
  }
  .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container nav ul li {
    font-size: 17px;
  }
  .container section.hero {
    padding: 0;
  }
  .container section.hero .hero-content {
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container section.hero h1 {
    margin-top: 4rem;
    font-size: 5rem;
  }
  .container section.hero p {
    width: 50%;
  }
  .container section.about {
    text-align: center;
  }
  .container section.about h1 {
    margin-top: 2rem;
    font-size: 5rem;
  }
  .container section.about p {
    margin-top: 5rem;
    width: 50%;
  }
  .container section.skills {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: skills;
    text-align: center;
  }
  .container section.skills h1 {
    font-size: 5rem;
    color: white;
  }
  .container section.skills ul {
    width: 50%;
    margin: 0 auto;
  }
  .container section.projects h1 {
    font-size: 5rem;
    text-align: center;
  }
  .container section.projects .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
  }
  .container section.contact h1 {
    font-size: 5rem;
    text-align: center;
  }
  .container footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px 0 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .container footer .header {
    font-size: 18px;
  }
  .container footer ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container footer ul li {
    font-size: 16px;
  }
  .project-card {
    position: relative;
    width: 250px;
  }
  .contact ul {
    gap: 20px;
  }
}
/*# sourceMappingURL=responsive.css.map */